.listItem{
    background: linear-gradient(89.92deg, #3000D6 0.07%, #3DD0F0 99.93%);
    padding: 10px !important;
    font-size: 21px !important;
    text-align: justify;
    overflow: scroll;
    
}
.menu{
    height: calc(100vh - 120px);
}

.active-link{
    background-color: white;
    color: black;
}

.a{
    color: white !important;
    transition: .3s;
    width: 100% !important;
    display: inline-block;
}
.a.active{
    color: blue !important;
    width: 100%;
}
.a:hover{
    background: rgba(255, 255, 255, 0.2);
}